body
{
	background: whitesmoke;
}

.form-index
{
	background: white;
	
	
	margin-left: 30%;
	margin-top: 50px;
	max-width: 450px;
	padding:30px;
	border-radius: 8px;
}

@media (max-width: 600px)
{
	.form-index
	{
		margin: auto;
		max-width: max-content;
		border:none;
			
	}
}