body
{
	background: whitesmoke;
}

.menu
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
    color: white;
    margin-top: 20px;
	
}
#news {
	overflow-y: scroll;
    max-height: 200px;
	-webkit-overflow-scrolling: touch;
}

#name {
	text-transform: capitalize;
}
.display-money-green
{
	color: green;
}
.display-money-red
{
	color: red;
}


.bancoBTN
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
